.row{
    background-color: #000000;
}
   footer{
    color: #fefefe;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -1px 1px rgb(255, 255, 255);
   }

