<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Portfolio-Argentina Programa</h3>
            <p>Con los conocimientos adquiridos a lo largo del curso, creamos nuestro fotfolio. 
                Para el Frontend utilizamos: HTML, CSS, Javascript, TypeScrip , Angular y booststrap.
                Para el Backend Spring Boot, Postman y DevOps </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
        <img src="../../../assets/Img-AP.png" style="border: 1px solid rgb(255, 255, 255)"class="img-fluid img-proyecto">
        </div>
    </div>
</div>
