.row{
    padding: 20px;
}
div{
    background-color: #000000;
    text-align: center;
}
h1{
    color: white;
}
p{
    color: white;
}
/*Estilo de la foto de perfil*/
@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px ;
        left: 3%;
        top: 820px;
    }
}
@media (max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px ;
        left: 33%;
        top: 1150px;
    }
}



/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 30%;
    font-size: 20px;
    color: white;
}

/*etiqueta titulo*/
#titulo{
    color: white;
}
