<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/photo-perfil 1.jpg" class="img-fluid" id="fotodeperfil">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
   <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
   <p id="titulo" >Full Stack Developer Jr</p> 
</div>
<div class="col-xs-12 col-sm-8 col-ms-8 col-lg-8">
    <span>
        <h1>Acerca de mí</h1>
        <p>Mi nombre es Rocio Malaga, soy de Mar del plata, estoy dando mis primeros pasos en en mundo de la programacion, me concidero una persona perseverante, aplicada, curiosa y con ganas de aprender.</p>
    </span>
</div>
</div>

