<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/photo-perfil 1.jpg" class="img-fluid" id="fotodeperfil">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
   <p id="nombre">Rocio Malaga</p>
   <p>Full Stack Developer Jr</p> 
</div>
<div class="col-xs-12 col-sm-8 col-ms-8 col-lg-8">
    <span>
        <h1>Acerca de mí</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus nam eius quidem neque perspiciatis sint necessitatibus suscipit! Natus, ullam facilis ipsam laudantium minima consequuntur alias excepturi tempore aperiam unde dolore.</p>
    </span>
</div>
</div>

